node_modules
dist
build
.git
.gitignore
Dockerfile
docker-compose.yml
*.md
npm-debug.log
.env

.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
terraform.exe
