# Node / Build
node_modules/
dist/
build/

# Git / Docker
.git
.gitignore
.dockerignore
Dockerfile
*.md
npm-debug.log
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.exe
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
